@using KartverketWebApplication.ViewModels
@model RegisterViewModels

@{
    ViewData["Title"] = "Registrer deg";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="login-container">
    <!-- Sol Tarafta Logo ve Metin -->
    <div class="login-left">
        <div class="brand-logo">
            <img src="~/images/kartal.png" alt="Kartverket Logo" />
        </div>
        <h1>KARTVERKET</h1>
        <p>Hjelp oss med å holde kartet oppdatert!</p>
    </div>

    <!-- Sağ Tarafta Kayıt Formu -->
    <div class="login-right">
        <div class="account-box">
            <h2 class="text-center mb-4">Registrer deg</h2>
            <form asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label  asp-for="Name"  class="form-label">Fullt navn</label>
                    <input  asp-for="Name"  class="form-control" placeholder="Fullt navn" />
                    <span asp-validation-for="Name"  class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label  asp-for="Email"  class="form-label">E-postadresse</label>
                    <input asp-for="Email"  class="form-control" placeholder="Email" />
                    <span  asp-validation-for="Email"  class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label  asp-for="Password"  class="form-label">Passord</label>
                    <input  asp-for="Password"  class="form-control" placeholder="Passord" />
                    <span asp-validation-for="Password"  class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label  asp-for="ConfirmPassword"  class="form-label">Bekreft passord</label>
                    <input  asp-for="ConfirmPassword"  class="form-control" placeholder="Bekreft passord" />
                    <span  asp-validation-for="ConfirmPassword"  class="text-danger"></span>
                </div>

                <input type="submit" value="Registrer deg" class="btn btn-primary w-100 p-2" />

                <p class="text-center mt-2">
                    Har du allerede en konto? <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Logg inn</a>
                </p>
                <div class="text-center">
                    <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">
                        Tilbake
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
