@{
    ViewData["Title"] = "Saksbehandler Sayfasi";
}
<style>
    header {
        display: none;
    }
</style>
<!-- Özel StilDosyası -->
<link rel="stylesheet" href="~/css/saksbehandler.css" />

<div class="container-fluid">
<div class="header">
    <div class="headerlogo">            
                <img src="https://img.pikbest.com/origin/09/34/11/384pIkbEsT7ki.png!sw800" alt="Logo"  width="300" height="150">
</div>

<div class="headerhoyre">            
            <h4>Velkommen Ahmet Kirac</h4>
             <p>Saksbehandler</p>
</div>
               
            </div>
            <div class="container-ned">
                <div class="row">
        <!-- Sol Menü -->
       
       
        <div class="side-menu">
           
            <div class="mt-4">
                <button class="btn btn-success w-100 mb-3">Aktive Saker</button>
                <button class="btn btn-success w-100 mb-3">Ferdige Saker</button>
            </div>

            <div class="mt-2">
                <button class="btn btn-success w-100 mb-3">Profil</button>
                <button class="btn btn-warning w-100">Logg ut</button>
            </div>
        </div>

        <!-- İçerik Alanı -->
        <div class="content-areaa">
            

            <table class="table table-striped table-dark mt-4">
                <thead>
                    <tr>
                        <th>Dato</th>
                        <th>Sak Status</th>
                        <th>Referansenummer</th>
                        <th>Kontroll Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>21.11.2023</td>
                        <td>Aktiv</td>
                        <td>12984670987</td>
                        <td>Tildordnet</td>
                        <td> <a href="/Saksbehandler/detay" class="btn btn-success">Vis Sak</a></td>
                    </tr>
                    <tr>
                        <td>21.11.2023</td>
                        <td>Aktiv</td>
                        <td>12984670987</td>
                        <td>Tildordnet</td>
                        <td> <a href="/Saksbehandler/detay" class="btn btn-success">Vis Sak</a></td>
                    </tr>
                    <tr>
                        <td>21.11.2023</td>
                        <td>Aktiv</td>
                        <td>12984670987</td>
                        <td>Tildordnet</td>
                        <td> <a href="/Saksbehandler/detay" class="btn btn-success">Vis Sak</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div></div>